<div class="burger">
  <a {{action burgerMenu.actions.toggle}} class="pull-{{burgerMenu.position}} pointer">
    <img src="images/hamburgers-icon.png" alt="" width="75px" />
  </a>
</div>

<div class="header clear-both text-center">
    <img src="images/ember-logo.png" alt="" width="375px" />
    <h1>Burger Menu</h1>
</div>

<div class="description text-center">
  <p>
    An off-canvas sidebar component with a collection of effects and styles using CSS transitions.
  </p>
</div>

<div class="container">
  <div class="col-xs-6 animations text-right">
    <h4>Animations</h4>
    {{#each animations as |animation|}}
      <button class="btn btn-default btn-outline {{if (eq animation burgerMenu.animation) 'active'}}" {{action 'setMenu' 'animation' animation}}>
        {{titleize (dedasherize animation)}}
      </button>
    {{/each}}
  </div>

  <div class="col-xs-6 options text-left">
    <h4>Options</h4>

    <div class="option">
      <label for="position">Position</label>
      <div class="btn-group" role="group" id="position">
        {{#each (array 'left' 'right') as |position|}}
          <button type="button" class="btn btn-default btn-outline {{if (eq position burgerMenu.position) 'active'}}" {{action 'setMenu' 'position' position}}>
            {{titleize position}}
          </button>
        {{/each}}
      </div>
    </div>

    <div class="option">
      <label for="translucentOverlay">Translucent Overlay</label>
      <a id="translucentOverlay" {{action (toggle 'translucentOverlay' this)}} class="checkbox">
        <i class="fa {{if translucentOverlay 'fa-check-square' 'fa-square'}}" aria-hidden="true"></i>
      </a>
    </div>

    <div class="option">
      <label for="dismissOnClick">Dismiss on Click</label>
      <a id="dismissOnClick" {{action (toggle 'dismissOnClick' this)}} class="checkbox">
        <i class="fa {{if dismissOnClick 'fa-check-square' 'fa-square'}}" aria-hidden="true"></i>
      </a>
    </div>

    <div class="option">
      <label for="dismissOnEsc">Dismiss on Escape</label>
      <a id="dismissOnEsc" {{action (toggle 'dismissOnEsc' this)}} class="checkbox">
        <i class="fa {{if dismissOnEsc 'fa-check-square' 'fa-square'}}" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="inspiration text-center">
  <p>
    Inspired by <a href="https://github.com/codrops/SidebarTransitions">Sidebar Transitions</a> by Codrops
  </p>
</div>
