<main class="text-center multiple">
  {{partial 'header'}}


  <div class="content multiple">
    {{#each menus as |menu|}}
      <a class="hamburger {{if menu.open 'burger-hidden'}} {{menu.color}}" {{action (toggle 'open' menu)}}>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    {{/each}}

    <img src="images/Gene_Belcher.png" width="150" ondragstart="return false;"/>
    <p><i>"This is me now!"</i></p>
  </div>
</main>

{{#each menus as |m|}}
  {{#burger-menu
    translucentOverlay=false
    dismissOnClick=false
    dismissOnEsc=true
    gesturesEnabled=true
    classNames=(array "multiple" m.color)
    position=m.position
    animation=m.animation
    open=m.open
    width=250
    as |burger|}}
    {{#burger.menu itemTagName="li" dismissOnItemClick=true as |menu|}}
      <a {{action burger.state.actions.close}} class="close {{burger.state.position}} fa fa-times"></a>
      <h2>{{titleize m.color}} Menu</h2>

      {{partial 'menu'}}
    {{/burger.menu}}
  {{/burger-menu}}
{{/each}}
